@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
:root {
  --color-primary: #ff8400;
}

html,
body {
  height: 100%;
  font-family: "Jetbrains Mono", sans-serif;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.jumbotron {
  border: 1px solid var(--color-primary);
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background: #413122;
  font-weight: 500;
}

.footer a {
    margin-left: 8px;
}

.footer-icon {
    width: 22px;
    height: 22px;
    color: #fff;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

.home-text-description {
  padding-bottom: 24px;
}

.btn-primary {
  background: var(--color-primary);
  color: #fff;
  font-weight: 500;
  border: none;
}

.btn-primary:hover {
  background: #fa9324;
}
